<footer class="footer">
  <div class="footer-title">
    
        Have a great idea you want to share?
        <a href="#" class="footer-product-feedback" target="_blank">
            Give product feedback
            <img class="go-to-website-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="16" viewBox="0 0 16 16" width="16"><path d="m7.62 1.535h-6.846v13.69h13.691v-6.845m-6.845 0 7.606-7.606m0 0v4.057m0-4.057h-4.057" stroke="#2F3941" stroke-width="1.5"/></svg>
            </img>
        </a>
  </div>

  <div class="footer-inner">
    <!--     {{#link 'help_center'}}{{help_center.name}}{{/link}}  -->
      <div class="footer-column">
        <div class="footer-column-col-1">
          <img src="{{asset 'ia-logo-2.svg'}}" alt="Integrity Advocate Logo" class="logo-footer"> 
          <p class="small-paragraph">The only identity verification, participation monitoring, and exam proctoring solution
            built on Privacy by Design principles, Integrity Advocate protects learner privacy and ensures assessment
            integrity for online learning events. Leveraging human review aided by artificial intelligence, services are
            available 24/7 on all devices, no plugins or software installation required.</p>
          <div class="phone-number">
            <div class="text"><strong>Toll-free:</strong></div>
            <a href="tel:+1(888)395-1025" class="phone-number-a">
              <span>+1 (888) 395-1025</span>
            </a>
          </div>
          <div class="phone-number">
            <div class="text"><strong>United States:</strong></div>
            <a href="tel:+1(650)665-6993" class="phone-number-a">
            <span>+1 (650) 665-6993</span>
          </a>
          </div>
          <div class="phone-number">
            <div class="text"><strong>Canada:</strong></div>
            <a href="tel:1(226)407-6583" class="phone-number-a">
            <span>1 (226) 407-6583</span>
          </a>
          </div>
          <div class="phone-number">
            <div class="text"><strong>Australia:</strong></div> 
            <a href="tel:+61240500222" class="phone-number-a">
            <span>+61 2 4050 0222</span>
          </a>
          </div>
          <div class="phone-number">
            <div class="text"><strong>United Kingdom:</strong></div>
            <a href="tel:+442081039092" class="phone-number-a">
            <span>+44 20 8103 9092</span>
          </a>
          </div>
          </div>

        <div class="footer-column-col-2">
            <div role="list" class="list">
              <div role="listitem" class="list-item">
                <div class="footer-header">Solutions For</div>
                <a href="https://www.integrityadvocate.com/sectors/certifications" class="footer-link">Certifications</a>
                <a href="https://www.integrityadvocate.com/sectors/corporate-training" class="footer-link">Corporate Training</a>
                <a href="https://www.integrityadvocate.com/sectors/higher-education" class="footer-link">Higher Education</a>
                <a href="https://www.integrityadvocate.com/sectors/k-12" class="footer-link">K-12</a>
                <a href="#" class="footer-link"></a>
                <a href="#" class="footer-link"></a>
              </div>
              <div role="listitem" class="list-item">
                <div class="footer-header">Learn More</div>
                <a href="https://www.integrityadvocate.com/privacy/privacy" class="footer-link">Privacy</a>
                <a href="https://www.integrityadvocate.com/features/features" class="footer-link">Features</a>
                <a href="https://www.integrityadvocate.com/partners/partners" class="footer-link">Partners</a>
                <a href="https://www.integrityadvocate.com/compare/compare" class="footer-link">Compare</a>
                <a href="#" class="footer-link"></a>
                <a href="#" class="footer-link"></a>
              </div>
              <div role="listitem" class="list-item">
                <div class="footer-header">Who We Are</div>
                <a href="https://www.integrityadvocate.com/about" class="footer-link">About</a>
                <a href="https://www.integrityadvocate.com/support/support" class="footer-link">Support</a>
                <a href="https://www.integrityadvocate.com/blog" class="footer-link">Blog</a>
                <a href="#" class="footer-link"></a>
                <a href="#" class="footer-link"></a>
                <a href="#" class="footer-link"></a>
              </div>
              <div role="listitem" class="list-item">
                <div class="footer-header">Contact</div>
                <a href="https://www.integrityadvocate.com/request-demo" class="footer-link">Request a Demo</a>
                <a href="https://www.integrityadvocate.com/contact-sales" class="footer-link">Contact Sales</a>
                <a href="https://support.integrityadvocate.com/hc/en-us/requests/new" class="footer-link">Contact Support</a>
                <a href="#" class="footer-link"></a>
                <a href="#" class="footer-link"></a>
                <a href="#" class="footer-link"></a>
              </div>
            </div>
          <a href="https://v1.integrityadvocate.com" target="_blank" class="app-link"><strong>V1 App Login</strong></a>
        </div>
      </div>

  <!-- Language Selector, Not needed.
    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
    -->
  </div>
</footer>
